.aside{
    width: 50px;
    height: 100vh;
    background-color: rgba(255, 255, 255, .1);
    position: fixed;
    padding: 1rem;
}

.aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.aside ul .li{
    background-color: rgba(255, 255, 255, .1);
    padding: .5rem;
    border-radius: .5rem;
    color: rgba(255, 255, 255, .5);
    transition: .7s;
}

.active{
    padding: .5rem;
    border-radius: .5rem;
    color: #f2f6fa;
    background-color: royalblue;
    transition: .7s;
    position: relative;
}
.active::after{
    content: "";
    position: absolute;
    height: 100%;
    background-color: royalblue;
    width: 4px;
    top: 0;
    left: 35px;
    border-radius: .5rem 0 0 .5rem;
    transition: .7s;
}

.menu{
    background-color: royalblue;
    width: 50px;
    height: 50px;
    border-radius: 0;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.aside ul .li i{
    font-size: 2rem;
}

.aside ul .active i{
    font-size: 2rem;
}