.blogheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 10rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.blogheader ul{
    display: flex;
}

.blogheader ul li{
    padding-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.blogheader input{
    background-color: rgba(255, 255, 255, .1);
    border: none;
    color: #f2f6fa;
    padding: 1rem;
    border-radius: 2rem;
}

.blogheader .active{
    color: royalblue;
}
.blogbanner{
    display: flex;
    margin: 2rem 10rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.blogbanner picture{
    border-radius: 2rem;
    overflow: hidden;
    width: 900px;
    padding-bottom: 2rem;
    margin-right: 3rem;
}

.blogbanner picture img{
    border-radius: 2rem;
}

.blogbanner span{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 2rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
}

.blogbanner h2{
    font-size: 3.5rem;
}

.blogbanner p{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 1rem;
}

.blogbanner button{
    border: none;

    border-radius: 1rem;
    padding: .5rem 1rem;
    background: royalblue;
    color: #f2f6fa;
}

.bloglist{
    margin: 2rem 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.blogitem{
    min-width: 320px;
    width: 320px;
}

.blogitem picture img{
    border-radius: 1.5rem;
}

.blogcategory{
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 600;
}

.blogitem h2{
    line-height: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.blogitem p{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
    margin: 1rem 0;
}

.blogdate{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .4);
    border-right: 3px solid rgba(255, 255, 255, .1);
    padding-right: 1rem;
}

.container{
    margin: 2rem 10rem;
    display: grid;
    
    padding-top: 3rem;
    grid-template-columns:  1fr 3fr 1fr;
    align-items: flex-start;
    justify-content: center;
}

.aside{
    padding-top: 1rem;
}
.aside h2{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.aside p{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .4);
    margin-bottom: 1.5rem;
}

.aside button{
    background-color: royalblue;
    color: #f2f6fa;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 600;
}

.aside h3{
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.centercontent h2{
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 4.2rem;
}

.contentdata{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.centercontent img{
    border-radius: 2rem;
}