.footer{
    /* height: 100px; */
}

.top{
    background: rgba(255, 255, 255, .03);
    padding: 1rem 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem 10rem;
}

.right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.right ul{
    margin: 0 6rem;
    color: rgba(255, 255, 255, .3);
}

.right ul li{
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.title{
    color: #f2f6fa;
    margin-bottom: 1rem;
}
