.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .03);
    position: fixed;
    width: 100%;
}

.searchbar{
    background-color: rgba(255, 255, 255, .1);
    border: none;
    height: 30px;
    border-radius: .5rem;
    color: #f2f6fa;
    padding: 1rem;
    width: 300px;
    outline: none;
}