.header{
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav{
    position: absolute;
    left: 0px;
    top: 0;
    width: 80vw;
    min-height: 100vh;
    background-color: #100f10;
    padding:2rem;
    transition: 1s;
    z-index: 999;
}

.navopen{
    position: absolute;
    left: -400px;
    top: 0;
    width: 80vw;
    min-height: 100vh;
    background-color: #100f10;
    padding:2rem;
    transition: 1s;
    z-index: 999;
}

.logo img{
    width: 20px;
}

.logo p{
    display: none;
}

.menu i{
    font-size: 2.5rem;
    cursor: pointer;
}

.headerfooter{
    display: flex;
    flex-direction: column;
}

.navclose{
    border: none;
    background-color: transparent;
    color: #f2f6fa;
    font-size: 2.5rem;
}

.success{
    background: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: #f2f6fa;
    font-weight: 600;
    margin: 0 1rem;
    min-width: 120px;
}

.normal{
    background: rgba(255, 255, 255, .05);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: #f2f6fa;
    font-weight: 600;
    margin: 1rem;
    min-width: 120px;
}

.select{
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, .5);
    margin: 2rem;
    outline: none;
}

.fot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.nav ul, .navopen ul{
    margin-left: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-width: 900px) {

    .header{
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border: none;
    }

    .nav{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: unset;
        background: none;
    }
    .navopen{
        position: unset;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        padding: 0;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
    }

    .left{
        display: flex;
        align-items: center;
    }
    .nav ul, .navopen ul{
        margin-left: 0;
        margin-top: 0;
        flex-direction: row;
        gap: 30px;
    }

    .nav ul li, .navopen ul li{
        font-size: 1.4rem;
    }
    .navclose{
        display: none;
    }

    .menu{
        display: none;
    }
    .headerfooter{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .normal{
        margin: 0;
    }
    .success{
        background: #4169e1;;
        border: none;
        padding: 1rem;
        border-radius: 5px;
        color: #f2f6fa;
        font-weight: 600;
        margin: 0;
        margin-right:1rem;
        min-width: 120px;
    }

    .fot{
        margin-top: 0;
    }
    
    .logo{
        padding-right: 3rem;
        border-right: 1px solid rgba(255, 255, 255, .1);
    }
    

}
