.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .03);
    position: fixed;
    width: 100%;
    background-color: #202020;
    z-index: 9999;
}

.searchbar{
    background-color: rgba(255, 255, 255, .1);
    border: none;
    height: 30px;
    border-radius: .5rem;
    color: #f2f6fa;
    padding: 1rem;
    width: 300px;
    outline: none;
}

@media screen and (max-width: 500px){
    .header input{
        display: none;
    }

}