.banner{
    /* background: url("./banner.jpg"); */
    background-image: url('../public/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -19px;
    z-index: -1;
    opacity: .1;
}

.bannercontent{
    min-height: 80vh;
    padding: 4rem 2rem;
    text-align: center;
}

.bannercontent a{
    display: block;
    margin: 2rem 1rem;
    background-color: #4169e1;
    transition: .3s;
    padding: .5rem 1rem;
    width: 150px;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 4px 8px rgba(255, 255, 255, .1);
}

.bannercontent a:hover{
    transform: scale(1.2);
}

.games{
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;
}

.games .img{
    width: 100%;
}

.games img{
    object-fit: cover;
    width: 80%;
    /* margin-top: 180px; */
}

.games h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.firssection{
    background-color: #4169e1;;
    
}

.games::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0px solid #100d10;
    border-left: 2000px solid transparent;
    border-right: 20px solid transparent;
}

.games p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.games button{
    color: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background: #f2f6fa;
    font-weight: 600;
}

.secondsection{
    padding: 2rem;
}

.tournaments{
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.tournaments .content{
        flex-basis: 100%;
}



.tournaments img{
    object-fit: cover;
    width: 80%;
    margin-left: 70px;
}


.tournaments::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #4169e1;;
    border-left: 1500px solid transparent;
    border-right: 20px solid transparent;
}

.tournaments h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.tournaments p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.tournaments button{
    background: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: #f2f6fa;
    font-weight: 600;
}

.build{
    padding: 2.5rem;
    border-radius: 1rem;
    background: #4169e1;;
    min-height: 300px;
    display: flex;
    align-items: center;
    
}

.build::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #100d10;
    border-left: 20px solid transparent;
    border-right: 2000px solid transparent;
}


.build h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.build p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.build button{
    color: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background: #f2f6fa;
    font-weight: 600;
}

.altsection{
    line-height: 3rem;
    background-color: rgba(255, 255, 255, .05);
    padding: 2rem;
}

/*



.secondsection{
    padding: 0 10rem;
}

.tournaments{
    border-radius: 1rem;
    display: flex;
    align-items: center;

}

.tournaments .content{
        flex-basis: 100%;
}



.tournaments img{
    object-fit: cover;
    width: 80%;
    margin-left: 100px;
}


.tournaments::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #4169e1;;
    border-left: 1500px solid transparent;
    border-right: 20px solid transparent;
}

.tournaments h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.tournaments p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.tournaments button{
    background: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: #f2f6fa;
    font-weight: 600;
}

.build{
    padding: 2.5rem;
    border-radius: 1rem;
    background: #4169e1;;
    min-height: 300px;
    display: flex;
    align-items: center;
    
}

.build::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #100d10;
    border-left: 20px solid transparent;
    border-right: 2000px solid transparent;
}


.build h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.build p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.build button{
    color: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background: #f2f6fa;
    font-weight: 600;
}

.altsection{
    background-color: rgba(255, 255, 255, .05);
    padding: 10rem;
} */

@media screen and (min-width: 900px) {

    .bannercontent{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bannercontent .left{
        flex-basis: 50%;
    }



.games{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
}

.games::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid #100d10;
    border-left: 1500px solid transparent;
    border-right: 20px solid transparent;
}

.games p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.games button{
    color: #4169e1;;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background: #f2f6fa;
    font-weight: 600;
}

.games img{
    object-fit: cover;
    width: 10%;
    margin-top: 180px;
}

}

.about{
    margin-top: 15rem;
    padding: 0 12rem;
}

.about h2{
    font-size: 5rem;
    font-weight: 400;
    color: #4169e1;
    letter-spacing: .6rem;
}
.about .text{
    max-width: 50%;
}

.bloglist{
    margin: 0 ;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    overflow: scroll;
    /* flex-wrap: wrap; */
}

.blogitem{
    min-width: 320px;
    width: 320px;
}

.blogitem h2{
    line-height: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.8rem;
    letter-spacing: normal;
}

.blogitem p{
    width: 100%;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
    margin: 1rem 0;
}

.blogdate{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .4);
    border-right: 3px solid rgba(255, 255, 255, .1);
    padding-right: 1rem;
}