
.section{
}

.form{
    margin: 0 auto;
    max-width: 400px;
    margin-top: 200px;
}

.formgroup{
    background-color: rgba(255, 255, 255, .05);
    margin: 1rem 0;
    border-radius: 0.5rem;
    height: 50px;
    padding: 0 1rem;
}

.formgroup input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #f2f6fa;
    outline: none;
}