.headerProfile{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
    max-height: 400px;
}

.userdata{
    max-height: 400px;
    height: 400px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userextra{
    max-height: 400px;
    height: 400px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.picture{
    width: 100px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5rem;
    overflow: hidden;
}

.bannerprofile{
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    border-radius: .5rem;
}
.profilemenu{
    height: 60px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
}

.btns{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.btns a{
    border: 1px solid rgba(255, 255, 255, .1);
    padding: .5rem .8rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: royalblue;
}

.modal
{
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modalcontent {
    background-color: #1a1a1a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    min-width: 300px;
    width: 350px;
}


.modal form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal form input{
    height: 40px;
    background-color: rgba(0, 0, 0, .8);
    border: none;
    color: #f2f6fa;
    outline: none;
    padding: 1rem;
    border-radius: .5rem;
}